@import '../../../variables.scss';
@import '../../../utils/breakpointsHelper.scss';

.dayContainer {
    display: flex;
    align-items: center;
    border-top: 1px solid $light-gray;
    padding-top: 20px;
    flex-wrap: wrap;
}
.day {
    font-size: 32px;
    color: $dark-color;
    margin-right: 20px;
}
.nutritionBox {
    margin-right: 10px;
    padding: 15px;
    background-color: #F3F3F3;
    color: $dark-color;
    border-radius: 5px;
    min-width: 75px;
}
.nutrition {
    font-size: 10px;
}
.nutritionValue {
    font-size: 16px;
    font-weight: 500;
}

.nutritionContainer {
    display: flex;
    margin: 10px 0px;
}

.cardTitle {
    font-size: 20px;
    color: $dark-color;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
}
.mealType {
    background-color: #FFD60A;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
}

.calories {
    font-size: 14px;
    color: $dark-color;
    margin-left: 20px;
    margin-right: 20px;
}
.progressRings {
    display: none;
    justify-content: space-around;
    position: relative;
    bottom: 70px;
    margin-bottom: -55px;
}

.mealImage {
    height: 190px;
    width: 100%;
    background-image:url('../../../images/meals/test.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cardContainer:hover {
    .progressRings {
        display: flex;
    }
    .mealImage {
        height: 190px;
        width: 100%;
        background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 76.56%), url('../../../images/meals/test.png');
    }
}

.singleMealHeading {
    color: $dark-color;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
    @include tablet {
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

.singleMealListHeading {
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
}
.listContainer {
    li {
        color: $gray;
        font-size: 14px;
        margin-top: 10px;
    }
}
.singleMealImage {
    width: 100%;
    margin-bottom: 10px;
    @include tablet {
        margin-bottom: 0px;
    }
}

.nutritionContainerSingleMeal {
    margin-top: 10px;
    @include tablet{
        margin-top: 0px;
    }
}

.backToMeals {
    margin-top: 10px;
    padding-bottom: 10px;
    @include tablet{
        margin-top: 20px;
        padding-bottom: 20px;
    }
}