@import '~antd/dist/antd.css';
@import './variables.scss';
@import './utils/breakpointsHelper.scss';
@import './utils/antdOverride.scss';

body {
    font-family: 'Montserrat', sans-serif;
}
.slick-dots {
    bottom: 40px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
    font-size: 10px;
}
.slick-dots li button:before {
    color: #fff;
    font-size: 10px;
}
