@import '~antd/dist/antd.css';
@import './variables.scss';
@import './utils/breakpointsHelper.scss';
@import './utils/antdOverride.scss';

body {
    font-family: 'Montserrat', sans-serif;
}
.slick-dots {
    bottom: 40px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
    font-size: 10px;
}
.slick-dots li button:before {
    color: #fff;
    font-size: 10px;
}
.primary-color-button {
    color: white;
    background-color: $primary-color;
    font-weight: 500;
    max-width: 180px;
    width: 100%;
    svg {
        display: flex;
    }
    &:hover {
        color: #fff;
        background-color: #3884a0;
        border-color: #3884a0;
    }
    &:active {
        color: #fff;
        background-color: #3884a0;
        border-color: #3884a0;
    }
    &:focus {
        color: #fff;
        background-color: #3884a0;
        border-color: #3884a0;
    }

}

.admin-panel-content-container {
    padding: 40px 30px 30px;
}
table { 
    color: $dark-color;
}
.table-secondary {
    color: $dark-color;
    font-weight: 500;
}
.table>:not(:first-child) {
    border-top: 0;
}